.post-long-timestamp {
	display: none;
}

.post-short-timestamp:hover .post-long-timestamp {
	display: initial;
}

.profile-picture {
	@apply h-10 w-10 rounded-full;
}

.navbar-link {
	@apply bg-gray-100 hover:bg-gray-200 rounded-lg p-2;
}

.navbar-link:not(:first-child) {
	@apply ml-2;
}

.form-input {
	@apply w-full rounded-lg border-solid border-2 border-gray-200 hover:border-gray-300 focus:border-blue-400 outline-none;
}

textarea {
	@extend .form-input;
	@apply px-2 py-1 mr-2 resize-none;
}

table {
	@apply w-full rounded-sm shadow-lg;
	thead {
		@apply bg-red-100;
	}
}

th,
td {
	@apply p-2;
	text-align: left;
}
